<div id="car-listing-item-carousel-<%= carListing.id %>" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% for (var i = 0; i < carListing.get("imageUrls").length; i++) { %>
      <div class="<%= i === 0 ? 'item active' : 'item' %>">
        <img src="<%= carListing.get("imageUrls")[i] %>" class="img-responsive"></img>
      </div>
    <% } %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#car-listing-item-carousel-<%= carListing.id %>" role="button" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
    <span class="control-left">
      <i class="fa fa-angle-left fa-stack-1x"></i>
    </span>
  </a>
  <a class="right carousel-control" href="#car-listing-item-carousel-<%= carListing.id %>" role="button" data-slide="next">
    <span class="control-right">
      <i class="fa fa-angle-right fa-stack-1x"></i>
    </span>
  </a>
</div>

<script>
  $(function () {
    $('.carousel').carousel({
      interval: false
    })
  });
</script>
