<div id="car-listing-item-carousel-<%= carListing.id %>" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% for (var i = 0; i < carListing.get("imageUrls").length; i++) { %>
      <div class="<%= i === 0 ? 'item active' : 'item' %> carousel-img"
        style="background-image:url(<%= carListing.get("imageUrls")[i] %>)">
      </div>
    <% } %>
  </div>

  <!-- Controls -->
  <a
    class="left carousel-control"
    href="#car-listing-item-carousel-<%= carListing.id %>"
    role="button"
    data-slide="prev">
    <span class="control-left">
      <i class="fa fa-angle-left fa-stack-1x"></i>
    </span>
  </a>
  <a
    class="right carousel-control"
    href="#car-listing-item-carousel-<%= carListing.id %>"
    role="button"
    data-slide="next">
    <span class="control-right">
      <i class="fa fa-angle-right fa-stack-1x"></i>
    </span>
  </a>
</div>
