<div class="row clearfix" id="footer">
  <div class="row row-offset-2"></div>
  <div class="col-xs-3 column">
    <ul>
      <li><button class="btn btn-inverse form-control">English</button></li>
      <br>
      <li><button class="btn btn-inverse form-control">USD</button></li>
    </ul>
  </div>
  <div class="col-xs-3 column">
    <ul>
      <li><strong>Company</strong></li>
      <br>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Jobs", "#" %></li>
      <li><%= link_to "Press", "#" %></li>
      <li><%= link_to "Blog", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Policies", "#" %></li>
      <li><%= link_to "Disaster Response", "#" %></li>
      <li><%= link_to "Terms & Privacy", "#" %></li>
    </ul>
  </div>
  <div class="col-xs-3 column">
    <ul>
      <li><strong>Discover</strong></li>
      <br>
      <li><%= link_to "Trust & Safety", "#" %></li>
      <li><%= link_to "Inveite Friends", "#" %></li>
      <li><%= link_to "Airbnb Picks", "#" %></li>
      <li><%= link_to "Mobile", "#" %></li>
      <li><%= link_to "Support NYC", "#" %></li>
      <li><%= link_to "Business Travel", "#" %></li>
      <li><%= link_to "Site Map", "#" %></li>
    </ul>
  </div>
  <div class="col-xs-3 column">
    <ul>
      <li><strong>Hosting</strong></li>
      <br>
      <li><%= link_to "Why Host", "#" %></li>
      <li><%= link_to "Hospitality", "#" %></li>
      <li><%= link_to "Responsible Hosting", "#" %></li>
      <li><%= link_to "Home Safety", "#" %></li>
      <li><%= link_to "Stories", "#" %></li>
    </ul>
  </div>
</div>
