<form class="form-inline" id="home-search">
  <%= text_field_tag "search[model]",
    nil,
    class: "form-control",
    size: 40,
    placeholder: "What do you want to drive?"
  %><%= text_field_tag "search[start_date]",
    nil,
    class: "form-control",
    id: "search_start_date",
    placeholder: "Start Date"
  %><%= text_field_tag "search[end_date]",
    nil,
    class: "form-control",
    id: "search_end_date",
    placeholder: "End Date"
  %><%= select_tag "search[num_seats]",
    options_for_select(["2 Seats", "4 Seats", "5 Seats", "5+ Seats"]),
    class: "form-control",
    placeholder: "2 Seater"
  %><%= submit_tag "Search", class: "form-control" %>
</form>

<script>
  $(function () {
    $("#home-search #search_start_date").datepicker();
    $("#home-search #search_end_date").datepicker();
  });

</script>
