<form class="form-inline" id="home-search">

  <%= text_field_tag "SDSDS",
    nil,
    class: "form-control",
    size: 40,
    placeholder: "Wat do you want to drive?"
  %><%= text_field_tag "SDSDS",
    nil,
    class: "form-control",
    size: 15,
    placeholder: "Start Date"
  %><%= text_field_tag "SDSDS",
    nil,
    class: "form-control",
    size: 15,
    placeholder: "End Date"
  %><%= select_tag "num_of_seats",
    options_for_select(["2 Seats", "4 Seats", "5 Seats", "5+ Seats"]),
    class: "form-control",
    style: "width:125px;",
    placeholder: "2 Seater"
  %><%= submit_tag "Search", class: "form-control" %>
</form>
