<div id="search">
  <%= render "navbar" %>
  <%= render "search_form" %>
</div>

  <div class="row-6"></div>

  <div id="discovery-container">
  <div class="text-center">
    <h2 clas="strong">
      Start Your Thrill
    </h2>
    <p>Discover automotives that enthusiasts love</p>
  </div>


  <div class="row-6"></div>

  <div class="row row-images">
    <div class="col-xs-6", html: { style="height: 100%; overflow:hidden;" }>
      <%= image_tag "lotus_front_side.jpg" %>
    </div>
    <div class="col-xs-3", html: { style="height: 100%; overflow:hidden" }>
      <%= image_tag "g63_front.jpg" %>
    </div>
    <div class="col-xs-3", html: { style="height: 100%; overflow:hidden;" }>
      <%= image_tag "smart_front_side.jpg" %>
    </div>
  </div>

  <div class="row-2"></div>

  <div class="row row-images">
    <div class="col-xs-3", html: { style="height: 100%; overflow:hidden" }>
      <%= image_tag "g63_front.jpg" %>
    </div>
    <div class="col-xs-3", html: { style="height: 100%; overflow:hidden;" }>
      <%= image_tag "smart_front_side.jpg" %>
    </div>

      <div class="col-xs-6", html: { style="height: 100%; overflow:hidden;" }>
        <%= image_tag "lotus_front_side.jpg" %>
      </div>
  </div>




</div>
