<div class="panel panel-default">
  <div class="panel-body car-listing-panel-body">
    <div class="row">
      <div class="col-xs-4">
        <img src="<%= request.carListing.get("imageUrls")[0] %>" class="img-responsive"></img>
      </div>
      <div class="col-xs-8">
        <a href="#/car_listings/<%= request.carListing.id %>">
          <strong><%= request.carListing.get("title") %></strong>
        </a>
        <li>Dates: <%= request.escape("start_date") %> - <%= request.escape("end_date") %></li>
        <li>Status: <%= request.escape("status") %></li>
        <% if (actions) { %>
          <div class="row">
            <div class="col-xs-6">
              <button
                data-status="Approved"
                class="btn btn-success form-control">
                Approve
              </button>
            </div>
            <div class="col-xs-6">
              <button
                data-status="Denied"
                class="btn btn-danger form-control">
                Deny
              </button>
            </div>
          </div>
        <% } %>
      </div>
    </div>

  </div>
</div>
