<% @user ||= User.new %>
<% form_url = type == "signup" ? users_url : session_url %>
<% submit_text = type == "signup" ? "Sign Up" : "Log In" %>

<%= render "layouts/flash_messages" %>
<%= form_for(@user, url: form_url, html: {id: type + "-form"}, remote: true) do |f| %>

  <% if type == 'signup' %>
    <%= f.text_field :first_name,
      placeholder: "First Name",
      class: "form-control" %>

    <div class="row row-offset-2"></div>
    <%= f.text_field :last_name,
      placeholder: "Last Name",
      class: "form-control" %>

    <div class="row row-offset-2"></div>
  <% end %>

  <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
  <div class="row row-offset-2"></div>
  <%= f.password_field :password, placeholder: "Password",  class: "form-control" %>

  <% if type == 'signup' %>
    <div class="row row-offset-2"></div>
    <%= f.password_field :password_confirmation,
      placeholder: "Confirm Password",
      class: "form-control" %>
  <% end %>

  <div class="row row-offset-2"></div>
  <%= submit_tag submit_text, class: "pull-right btn btn-primary form-control" %>

<% end %>

  <div class="row"></div>
